@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{margin:0; padding:0;
    list-style: none;
    box-sizing: border-box;}

body{background-color: #ffffff;
    color:#000000;
    font-family: "Roboto", sans-serif;}

a{text-decoration: none;
    color:inherit;}



.wrap{width:100%;}

header{height:70px;
        background-color: #ffffff;}

.burger{position:relative;
        width:25px;
        height:16px;
        top:24px;
        left:40px;
        cursor: pointer;}

.burger, .burger span{transition: all 0.4s;}

.burger span{position: absolute;
                top:0;
                left:0;
                width:100%;
                height:2px;
                background-color: #000000;}

.burger span:nth-child(1){top:0;}
.burger span:nth-child(2){top:50%;}
.burger span:nth-child(3){top:100%;}

.burger.active span:nth-of-type(1){
    transform: translateY(8px) rotate(-45deg);
}

.burger.active span:nth-of-type(2){
    left:50%;
    opacity: 0;
    animation : active-menu-bar 0.8s forwards;
}

@keyframes active-menu-bar{
    100% {
        height:0;
    }
}

.burger.active span:nth-of-type(3){
    transform: translateY(-8px) rotate(45deg);
}


.logo{height:70px;
    margin-top:-15px;
    text-align: center;}

.logo img{height:100%;
        padding:10px;}

/*----submenu----*/

nav{position:absolute;
    margin-top:70px;
    width:20%;
    height:700px;
    background-color: #ffffff;
    display: none;
    z-index: 1;}


nav > ul > li {position: relative;
                padding-top:60px;
                padding-left:40px;
                font-family: "Tinos", sans-serif;
                font-weight: 400;
                font-size:30px;}


.car_img{position:absolute;
        top:0;
        left:100%;
        width:320px;
        height:700px;
        padding-top:20px;
        background-color: #dddddd;}

.car_img li{width:fit-content;
            margin: 20px auto;}

.car_img img{width:250px;}



/*----main----*/

.main{width:100%;
        height:700px;
        background-position: center;
        background-image: url("../images/image1/main.jpeg");
        animation-duration: 4s;}

.main_txt{float: right;
        margin-right:30px;
        margin-top:540px;}


.main h2{font-family: "Tinos", sans-serif;
        font-weight: 400;
        font-size:50px;}


.main_btn{width:200px;
        height:45px;
        margin:20px 0;
        float: right;
        text-align: center;
        line-height: 45px;
        color:#ffffff;
        border: 1px solid #000000;
        background-color: #000000;
        cursor: pointer;}

.main_btn:hover{background-color: #ffffff;
                color:#000000;
                transition: 0.3s;}




/*----첫번째 section 차 종류 이미지----*/

.car_wrap{column-count: 2;}

.car_wrap > div{break-inside: avoid;}

.car_wrap > p{font-size:14px;}

.car_wrap > div > h3{font-family: "Tinos", sans-serif;
                    font-weight: 400;
                    font-size:40px;
                    margin-top:30px;}


.content1_img{width:550px;
                height:700px;
                background-size: auto 100%;
                background-image: url("../images/image1/a7_sportback.jpeg");
                background-position: center;}

.content2_img{width:550px;
                height:620px;
                background-size: auto 100%;
                background-image: url("../images/image1/rs5_sportback.jpeg");
                background-position:center;}


.content3_img{width:700px;
    height:800px;
    background-size: auto 100%;
    background-image: url("../images/image1/a5_sportback_3.jpeg");
    background-position-x: -600px;}

.content4_img{width:700px;
    height:500px;
    background-size: auto 100%;
    background-image: url("../images/image1/as_q7.jpeg");
    background-position: center;}


.content1{margin-top:100px;
        visibility: hidden;}
.content2{margin-top:150px;
        visibility: hidden;}
.content3{padding-top:300px;
        visibility: hidden;}
.content4{margin-top:200px;
        visibility: hidden;}

.car_wrap > div > div:hover{background-size: auto 105%;
                        transition: 0.3s;}


.content3_img:hover{background-position-x: -650px;}

/*----discover----*/

.discover_box{width:100%;
            display: flex;
            margin-top:200px;
            background-color: #dddddd;}

.dis_img{width: 50%;
        height:500px;
        padding:35px;}

.dis_img img{width:100%;}


.bottom_txt{width:50%;
            margin-top:40px;}

.bottom_txt h3{font-family: "Tinos", sans-serif;
                font-weight: 400;
                font-size:50px;
                margin:30px 0;}

.bottom_txt p{font-size: 18px;}

.bottom_btn{width:200px;
        height:45px;
        margin-top:30px;
        text-align: center;
        line-height: 45px;
        color:#ffffff;
        border: 1px solid #000000;
        background-color: #000000;
        cursor: pointer;}

.bottom_btn:hover{background-color: #ffffff;
                color:#000000;
                border: 1px solid #000000;
                transition: 0.3s;}


/*----footer----*/

footer{width:100%;
        height:400px;
        padding:50px;
        color:#ffffff;
        background-color: #000000;}


.footer_wrap{display: flex;}

.box1{Width:70%;}
.box2{width:30%;}



footer h3{font-family: "Tinos", sans-serif;
                font-weight: 400;
                font-size:50px;}

.box1 > ul{width:50%;
            margin-top:50px;
            display: flex;
            justify-content: space-between;}


.box1 > ul > li{font-family: "Tinos", sans-serif;
                    font-weight: 400;
                    font-size:20px;}

.ft_nav{font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-top:20px;
        line-height: 25px;}

.box2{width:200px;
    margin-top:50px;}
.box2 p{margin-top:15px;}
.box2 > img{width:100%;}











